{% extends 'chairmanapp/index.html' %}
{% block contant %}
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>member <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">Appointment</li>
                                                                                        <li class="breadcrumb-item active">member</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Add</strong> society member<small>Description text here...</small> </h2>
                <ul class="header-dropdown">                            
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
            <form method="post" action="{% url 'add-member' %}">
                {% csrf_token %}    
                <div class="row clearfix">
                    {% if mid %}
                     <input type="text" class="form-control" placeholder="First Name" name="id" value="{{mid.id}}">
                    {% endif %}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{mid.firstname}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{mid.lastname}}">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="date" class="form-control" placeholder="Date of Birth" name="birthdate" value="{{mid.birthdate}}">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your Email" name="email" value="{{mid.userid.email}}">
                        </div>
                    </div>     
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your contactno" name="contactno" value="{{mid.contactno}}">
                        </div>
                    </div>    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your houseno" name="houseno" value="{{mid.houseno}}">
                        </div>
                    </div>     
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your vehicle details" name="vehicle_details" value="{{mid.vehicle_details}}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your occupation details" name="occupation" value="{{mid.occupation}}">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="enter no. of family member" name="no_familymembers" value="{{mid.no_familymembers}}">
                        </div>
                    </div>
                    
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="enter blood group" name="blood_grp" value="{{mid.blood_grp}}">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="enter old city" name="old_city" value="{{mid.old_city}}">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="file" class="form-control" name="pic">
                        </div>
                    </div>      
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea rows="4" class="form-control no-resize" placeholder="Please type your occupation address" name="job_address">{{mid.job_address}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-primary btn-round" value="submit">
                        <button type="submit" class="btn btn-default btn-round btn-simple">Cancel</button>
                    </div>
                </div>
            </form>    
            </div>
        </div>
    </div>
</div>

            </div>
</section>
{% endblock %}
            