{% extends 'chairmanapp/index.html' %}
{% block contant %}   
 <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>member Profile <small class="text-muted">Welcome to digital society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> digital society</a></li>
                            <li class="breadcrumb-item">member</li>
                            <li class="breadcrumb-item active">member Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{mid.pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{mid.firstname}}</strong> {{mid.lastname}}</h4>
                        <span class="job_post">{{mid.userid.role}}</span>
                        <span class="job_post">{{mid.userid.email}}</span>
                        <p>{{mid.Contact}}</p>
                    </div>
                </div>                    
            </div>                               
                           
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <p>fullname : {{mid.firstname}} {{mid.lastname}}</p>
                        <p>contactno : {{mid.contactno}} </p>
                        <p>houseno : {{mid.houseno}} </p>
                        <p>vehicle_details : {{mid.vehicle_details}} </p>
                        <p>occupation : {{mid.occupation}} </p>
                        <p>no_familymembers : {{mid.no_familymembers}} </p>
                        <p>job_address : {{mid.job_address}} </p>
                        <p>old_city : {{mid.old_city}} </p>
                        <p>blood_grp : {{mid.blood_grp}} </p>
                        <p>birthdate : {{mid.birthdate}} </p>
                        <p>joining_date : {{mid.joining_date}} </p>

                       
                    </div>
                                             
                </div>
            </div>
                      
        </div>
    </div>

            </div>
</section>
{% endblock %}
             