{% extends 'chairmanapp/index.html' %}
{% block contant %}   
 <section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to digital society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> digital society</a></li>
                            <li class="breadcrumb-item">chairman</li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
        <div class="col-lg-4 col-md-12">
            <div class="card profile-header">
                <div class="body text-center">
                    <div class="profile-image"> <img src="{{cid.pic.url}}" alt=""> </div>
                    <div>
                        <h4 class="m-b-0"><strong>{{cid.firstname}}</strong> {{cid.lastname}}</h4>
                        <span class="job_post">{{uid.role}}</span>
                        <span class="job_post">{{uid.email}}</span>
                        <p>{{cid.Contact}}</p>
                    </div>
                </div>                    
            </div>                               
                           
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Account">Account</a></li>                        
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <p>my about</p>
                       
                    </div>
                    <div class="tab-pane body" id="Account">

                        <form method="post" action="{% url 'chairman-change-password' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="email" name="email" value="{{uid.email}}" readonly disabled>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Current Password" name="currentpassword">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="New Password" name="newpassword">
                            </div>
                            <input type="submit" class="btn btn-info btn-round" value="save Changes">
                        </form>
                        <hr>

                        <form method="post" action="{% url 'chairman-update-profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{cid.firstname}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{cid.lastname}}">
                                </div>
                            </div>                                    
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="house no" name="houseno" value="{{cid.houseno}}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="contact no" name="contactno" value="{{cid.contactno}}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group">
                                    <input type="file" class="form-control"  name="profilepic">
                                </div>
                            </div>
                           
                          

                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-round" Save Changes>
                            </div>
                        </div>
                        </form>
                    </div>                        
                </div>
            </div>
                      
        </div>
    </div>

            </div>
</section>
{% endblock %}
             